* {
    padding: 0;
    margin: 0;
    text-align:center;
    font-family: 'arial', sans-serif;
    position: relative;
    max-width: 1919px;
}
  /*header*/
header {
    width: 100%;
    justify-content: center;
}  
.nav {
    top:0px; 
    left: 1px;
    display: flex;
    background: #0F1C2E 0% 0% no-repeat padding-box;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1919px;
    height: 67px;
    width: 100%;
    margin-right: 0;
    margin: 0;
    padding: 0;
}
  nav a {
    font-size: 20px;
    margin-left: 100px;
}
.index {
    display: flex;
    text-align: left;
    text-decoration: underline;
    align-items: center;
    font: normal normal bold 13px/17px Segoe UI;
    letter-spacing: 0px;
    opacity: 1;
    height: 17px;
    list-style-type: none;
}
  
.item{
    color: #FFFFFF;
}
  
.mini_avatar {
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: center;
    border-radius:150px;
    border: 1px solid #707070;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

  /*banner*/
.banner {
    background-color: #707070;
    top:0.5;
    left: 1px;
}
.banner_img{
    height: 250px;
    width: 100%;
}

  /*Photo*/  
.perfil_img{
    float: left;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    transform: translateY(-50%);
    margin-left: 5%;
    border: 1px solid #707070;
    opacity: 1;
}

.icon-git {
    position: absolute;
    bottom: -170px;
    left: 140px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    cursor: pointer;
}
.icon-linkedin {
    position: absolute;
    bottom: -175px;
    left: 190px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    cursor: pointer;
}
.icon-instagram {
    position: absolute;
    bottom: -170px;
    left: 240px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    cursor: pointer;
}
  
  /*description */
.description h1 h2 p {
    display: inline-block;
    text-align: center;
    width: 70%;
    margin-bottom: -10%;
}

h1 {
    display: block;
    margin: auto;
    text-align: center;
}
.name{

    text-align: center;
    width: 422;
    height: 73px;
    font-size: 55px;
    color: #707070;
    font-weight: bold;
}
.subtitle {
    font: normal normal bold 34px/46px Segoe UI;
    font-size: 34px;
    color: #707070;
    font-weight: 300;
}
.sobre_mim {
    text-align: center;
    font-size: 34px;
    color: #707070;
    font-weight: bold;
}
.descri {
    text-align: center;
    font-size: 20px;
    color: #525151;
    font-weight: 700;
}

  /*formacion*/
  
.formacion {
    text-align: center;
    background-color: #2E476B;
    opacity: 1;
    width: 100%;
}
.objetivo{
    background-color: #6187B9;
    opacity: 1;
    width: 100%;
    color: #292828;
}
  
.titulo2 {
    text-align: center;
    font-size: 55px;
    color: #2c2929;
    font-weight: 300;
}

.titulo3 {
    text-align: center;
    font-size: 55px;
    color: #2c2929;
    font-weight: 300;
}

.title{
    font-size: 24px;
    font-weight: bold;
}
.uni{
    font-size:17px;
    text-transform: uppercase;
    margin:2px;
}
        
button {
    width: 110px;
    height: 34px;
    border-radius: 10px;
    opacity: 1;
    align-items: center;
    justify-content: space-between;
    margin-right:1px;
    margin-left:1px;
    cursor: pointer;
}

/*API*/
.API {
    background-color: #2E476B;
    height: 20%;
    text-decoration: none;
    font-size: 19px;
    font-weight: 700;
    line-height: 1;
    color: #bdaf96;
}
.card {
  display:inline-block;
  justify-content: center;
  align-content: center;
  background-color: #1af3f3;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 80px;
  margin: 8px auto;
  transition: 0.45s;
  border-radius: 5px;
  opacity: 0.8;
}

  /*footer*/
.contato{
    text-align: center;
    font-size: 21px;
    color: #707070;
    background-color:#0F1C2E;
}
.titulo4 {
    font-size: 55px;
    color: #686565;
    font-weight: 300;
}
.sec4 pi{
    display: flex;
}
.media{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.primario {
background-color: #585858;
color: #fff;
border-color: transparent;
}

/*PROJETO JS FORMULARIO E API*/

footer {
    background-color: #0F1C2E;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #707070;
}

.formulario{
    padding: 2rem;
    border-radius: 10px;
    min-width: 40%;
    overflow: auto;
}
.contato-email{
    margin-bottom: 1rem;
    text-align: center;
    color: #707070;
}

.formulario form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.span-required{
    display: none;
}

.inputs{
    margin: auto;
    display: block;
    padding: 8px 5px;
    outline: none;
    background-color: #2E476B;
    border-radius: 10px;
    border:#ced3da;
    color: #B9C8E6;
    width: 50%;
    box-sizing: border-box;
    transition: 0.4s;
}

.inputs:focus{
    border-color:#b0b961;
}

button{
    margin: auto;
    display: block;
}